body{
margin:0;
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

header{
background:#111;
color:white;
padding:15px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:80%;
margin:auto;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:0 15px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.hero{
padding:80px;
background:linear-gradient(120deg,#4facfe,#00f2fe);
color:white;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:20px;
}

.btn{
display:inline-block;
padding:10px 20px;
background:white;
color:black;
text-decoration:none;
border-radius:5px;
margin-top:10px;
}

#about{
padding:60px;
}

#projects{
padding:60px;
background:#eee;
}

.project-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

#contact{
padding:50px;
}

footer{
background:#111;
color:white;
padding:15px;
}
